<h1>Current Version</h1>
<h2>Simple Bindings: </h2>
<label>attributeBase:</label>
<input [(ngModel)]="attributeBase">
<br>
<label>attributeExtended:</label>
<input [(ngModel)]="this.componentLogic.attributeExtended">
<br>
<label>propertyExtended:</label>
<input [(ngModel)]="this.componentLogic.propertyExtended">
<br>
<label>methodExtended: attributeBase === attributeExtended</label>
<br>
<label>ilineExpressionExtended: attributeBase === this.componentLogic.propertyExtended</label>
<br>
<h2>Component Extended</h2>
<app-component-v2 [attributeBase]="attributeBase" [genericInput]="componentLogic.componentV2GenericInputParameter">
</app-component-v2>
